* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: oklch(14.1% 0.005 285.823);
  color: #fff;
}

.wrapper {
  max-width: 48rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
