* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: oklch(14.1% 0.005 285.823);
  color: #fff;
}

.wrapper {
  max-width: 48rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: oklch(21% 0.006 285.885);
  border: 1px solid oklch(27.4% 0.006 286.033);
  border-radius: 1rem;
}
